{% for interface in interfaces %}
set interfaces {{ interface.name }} unit 0 family inet address {{ interface.address }}
set interfaces {{ interface.name }} description {{ interface.description }}
{% endfor %}
